.splide__pagination {
  margin-top: 16px;
  gap: 8px;
}
.splide__pagination__page {
  display: block;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #1b414b;
}
.splide__pagination__page.is-active {
  background-color: #fff;
}
